.pad {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #666;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  transition: transform 300ms ease-out;
  &:active {
    background-color: #444;
    transform: scale(0.95);
  }
  &__text {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
  }
}